.embla {
  position: relative;
  top: -50px;
  height: calc(100vh + 50px);
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  overflow: hidden;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.embla__dots {
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.embla__dot {
  display: inline-block;
  width: 30px;
  height: 5px;
  background-color: #ccc;
  border-radius: 15px;
  margin: 0 4px;
  cursor: pointer;
}

.embla__dot.is-active {
  background-color: #333;
}

.home-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.portfolio-item {
  margin: 10px;
  cursor: pointer;
}

.popup-pf {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.popup-content-pf {
  background: white;
  padding: 50px;
  overflow-y: auto;
  position: relative;
}

.popup-text-pf {
  max-width: 400px;
}

html.casper body.dark .popup-content-pf {
  background: #131313;
  color: #ffffff;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.home-project-card-container {
  flex: 0 1 calc(25% - 40px);
  margin: 20px;
  display: flex;
  justify-content: center;
}

.home-project-card-container .home-project-card {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 30px;
  box-shadow: 2px 2px 30px rgba(0,0,0,.2);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}
.home-project-card-container .home-project-content {
  padding: 20px;
  text-align: center;
  transition: 0.5s;
}
.home-project-card-container .home-project-content h2 {
  position: absolute;
  top: -30px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}
.home-project-card-container .home-project-content h3 {
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}
.home-project-card-container .home-project-content p {
  font-size: 1em;
  font-weight: 400;
}
.home-project-card-container .home-project-content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.portfolio-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.text-align {
  margin-left: 45px;
}

html.casper body.dark .tags-card-container .tags-content a {
  color: #ffffff;
}

.portfolio-card {
  width: 25px;
  height: 25px;
}

@media (max-width: 1000px) {
  .home-project-card-container {
    flex: 0 1 calc(50% - 40px);
  }
}

@media (max-width: 700px) {
  .home-project-card-container {
    flex: 0 1 100%;
    margin: 20px 0;
  }
}
