.items-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.tags-item {
  margin: 10px;
  cursor: pointer;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 20px;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.tags-card-container {
  flex-basis: calc(33.333% - 60px);
  max-width: calc(33.333% - 60px);
  margin: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.tags-card-container .tags-card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 2px 2px 30px rgba(0,0,0,.2);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}
.tags-card-container .tags-content {
  padding: 20px;
  text-align: center;
  transition: 0.5s;
}
.tags-card-container .tags-content h2 {
  position: absolute;
  top: -30px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}
.tags-card-container .tags-content h3 {
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}
.tags-card-container .tags-content p {
  font-size: 1em;
  color: #fff;
  font-weight: 400;
}
.tags-card-container .tags-content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: rgba(255, 255, 255, 0);
  color: #000000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

html.casper body.dark .tags-card-container .tags-content a {
  color: #ffffff;
}

/* Add a container for the entire portfolio section */
.tags-container {
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto; /* Center the container */
  padding: 0 15px; /* Add some padding */
}

.text-align {
  margin-left: 45px;
}

.tag-button {
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  margin: 5px;
  height: 40px;
}

.pt {
  padding-top: 10vh;
}

.px {
  padding-left: 2vw;
}

/* Responsive adjustments */
@media (max-width: 1000px) {
  .tags-card-container {
    flex-basis: calc(50% - 30px); /* 2 items per row on smaller screens */
    max-width: calc(50% - 30px); /* 2 items per row on smaller screens */
  }
}

@media (max-width: 700px) {
  .tags-card-container {
    flex-basis: 100%; /* 1 item per row on very small screens */
    max-width: 100%; /* 1 item per row on very small screens */
  }
}
